// media queries:
$mobileWidth: 576px;
$samllWidth: 768px;
$mediumWidth: 992px;
$largeWidth: 1200px;

// colors:
$whiteColor: #fff;
$blackColor: #444;
$mainColor: #c59d5f;
$paragraphColor: #617d98;

// fix values:
$radius: 0.5rem;
$padding: 30px;
$lightShadow: 0 5px 15px rgba(0, 0, 0, 0.1);
